* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom ;
  background-size: cover;
}

.header-text{
  padding: 20px;
}

main{
  display: flex;
  justify-content:center;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.service{
  width: 840px;
}

.service-item{
  border-bottom: 1px solid;
  padding: 30px 0;
}

.service-img{
  size: 30px
}

.service-text{
  font-size: 3px;
}

.a{
  font-size:3px;
  font-color:black;
}